html {
    display: flex;
    justify-content: center;
    background-color: grey;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: grey;
    padding: 25px;
}

input {
    width: 500px;
    overflow: scroll;
}

#root {
    width: 100%;
}

.app {
    width: 100%;
}